
#wrap {width: 1200px; height: 1000px; margin:auto;}

header {width: 1200px; height: 100px;}
nav {width: 1200px; height: 40px;}

.contents {width: 1200px; height: 700px;}
.contents > .section1 {width: 1000px; height: 700px;}
.contents > .aside1 {width: 200px; height: 700px;}

footer {width: 1200px; height: 100px;}
