.bold1{font-weight: bold;}

.image1{float: left; height: 70px; }
header {font-family: Arial, monospace, sans-serif;}
.title-top{display: flex;}
.title > .text1{
    margin-left: 30px; font-size: 40px;
    color:orange;
    text-shadow: 2px 2px 5px black;
}

header .p1{font-weight: bold; margin-left: 110px; font-size: 20px; margin-top: auto; }

body {font-family: Arial, monospace, sans-serif;}

#content-p1::first-letter{font-size: 40px; font-weight: bolder;}
#content-p1{font-size: 20px;}
#content-p2{font-size: 15px;}



.content2 .content2-size18{font-size: 18px; font-weight: bold;}
.content2>ul>li>a[href]{text-decoration: underline;}

.content2>ul>li>a:visited{color:black;}
.content2>ul>li>a:link{color: orange;}
.content2>ul>li>a:hover{color: green;}
